/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f8;
    color: #333;
}

/* header and nav*/

/* page elements*/
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}
h1, h2 {
    color: #1f2124;
    text-align: center;
}

h1{
    font-size: 50px;
}

.post-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    padding: 20px;
    margin-bottom: 30px;
}
.post-form label {
    font-weight: 500;
}
.post-form input, .post-form textarea, .post-form button {
    background-color: #f9f9f9; 
    display: block;
    width: 98%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.post-form button {
    width: initial;
}

/* Button Styling */
.post-form button, .toggle-comments-btn, .delete-btn {
    background-color: white;
    color: #FFA500;
    padding: 12px 25px;
    border: 2px solid #FFA500;
    border-radius: 6px 32px;
    box-shadow:   10px -8px   #d78c01 ;
    font-size: 18px;
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 50px;
}

.post-form button:hover, .toggle-comments-btn:hover, .delete-btn:hover {
    background-color: #df9201;
    color: #2f3e46;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    padding: 20px;
    margin-bottom: 20px;
}
.post h3 {
    color: #333;
}
.post .author, .comment small {
    font-size: 14px;
    color: #666;
}

.comments-section {
    padding-top: 20px;
}
.comment {
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #ffc222;
    background-color: #f9f9f9;
}

span{
    color: #FFA500;
}

/* footer */

/* Animations */
.post, .post-form {
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}